/** Your custom styles go here **/

.mediaPlayerObject h2 icon.glyphicon-thumbs-up {
    color: lawngreen;
}
.mediaPlayerObject h2 icon.glyphicon-thumbs-down {
    color: red;
}

.mediaPlayerObject .panel-body .row {
    margin-bottom: 2px;
}
.mediaPlayerObject .panel-body .row > div:first-child {
    background-color: #EEEEFF;
}