/** Your custom styles go here **/

.mediaPlayerObject h2 icon.glyphicon-thumbs-up {
    color: lawngreen;
}
.mediaPlayerObject h2 icon.glyphicon-thumbs-down {
    color: red;
}

.mediaPlayerObject .panel-body .row {
    margin-bottom: 2px;
}

.mediaPlayerObject .panel-body .row > div {
    line-height: 2;
}

.mediaPlayerObject .panel-body .row > div:first-child {
    font-size: 12px;
    background-color: #EEEEFF;
    padding: 5px 10px;
}

.mediaPlayerObject .panel-body .row > div:nth-child(2n) > span {
    padding: 5px 0;
}