<h1>Media players <button class="btn btn-sm btn-info" ng-click="getLatest()">Reload</button> </h1>
<div class="row">
    <div ng-repeat="player in mediaPlayers" class="mediaPlayerObject col-sm-3 col-sm-offset-1 panel panel-primary" id="player-{{ player._id }}">
        <h2 class="panel-heading">
            <div class="row">
                <div class="col-xs-9">
                    <span ng-if="!player.editMode">
                        {{ player.name }}
                    </span>
                    <span ng-if="player.editMode">
                        <input ng-model="player.name" class="input-sm">
                    </span>
                </div>
                <div class="col-xs-1">
                    <icon ng-if="player.isActive" class="glyphicon glyphicon-thumbs-up" title="{{ player.name }} is active"></icon>
                    <icon ng-if="!player.isActive" class="glyphicon glyphicon-thumbs-down" title="{{ player.name }} is not active"></icon>
                </div>
            </div>
        </h2>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-4">Created on</div>
                <div class="col-xs-8">
                    <span>{{ player.created | date:'yyyy-MM-dd hh:mm' }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">Last update</div>
                <div class="col-xs-8">
                    <span>{{ player.updated | date:'yyyy-MM-dd hh:mm' }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">IP</div>
                <div class="col-xs-8">
                    <input ng-if="player.editMode" ng-model="player.ip" class="input-sm">
                    <span ng-if="!player.editMode">{{ player.ip }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">Zone</div>
                <div class="col-xs-8">
                    <input ng-if="player.editMode" ng-model="player.location.zone" class="input-sm">
                    <span ng-if="!player.editMode">{{ player.location.zone }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">Floor</div>
                <div class="col-xs-8">
                    <input ng-if="player.editMode" ng-model="player.location.floor" class="input-sm">
                    <span ng-if="!player.editMode">{{ player.location.floor }}</span>
                </div>
            </div>
        </div>
        <div class="panel-footer row">
            <button title="edit" ng-if="!player.editMode" class="btn btn-primary col-xs-4" ng-click="edit(player)">
                <icon class="glyphicon glyphicon-edit"></icon> Edit
            </button>
            <button title="save" ng-if="player.editMode" class="btn btn-primary col-xs-4" ng-click="save(player)">
                <icon class="glyphicon glyphicon-save"></icon> Save
            </button>
            <div class="col-xs-4">&nbsp;</div>
            <button title="delete" class="btn btn-danger col-xs-4" ng-click="delete(player)">
                <icon class="glyphicon glyphicon-remove"></icon> Delete
            </button>
        </div>
    </div>
    <div class="mediaPlayerObject col-sm-3 col-sm-offset-1 panel panel-primary">
        <h2 class="panel-heading">
            <input ng-model="newPlayer.name" class="input-sm">
        </h2>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-4">IP</div>
                <div class="col-xs-8">
                    <input ng-model="newPlayer.ip" class="input-sm">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">Zone</div>
                <div class="col-xs-8">
                    <input ng-model="newPlayer.location.zone" class="input-sm">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">Floor</div>
                <div class="col-xs-8">
                    <input ng-model="newPlayer.location.floor" class="input-sm">
                </div>
            </div>
        </div>
        <div class="panel-footer row">
            <button title="save" class="btn btn-primary col-xs-12" ng-click="saveNew(newPlayer)">
                <icon class="save glyphicon glyphicon-save"></icon> Save new
            </button>
        </div>
    </div>
</div>